<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="access_control" connectionString="Server=192.168.86.32;Port=9587;User=accessuser;Password=mkemaker!34;Database=access_control;SslMode=none" providerName="MySql.Data.MySqlClient"/>
		<add name="area_funding" connectionString="Server=192.168.86.32;Port=9587;User=accessuser;Password=mkemaker!34;Database=area_funding;SslMode=none" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
</configuration>