swagger: '2.0'
info:
  title: Wild Apricot Admin API
  description: |

    This is Wild Apricot's API for administrators. You can use it if you already have a Wild Apricot account (typically with a website on  *.wildapricot.org). Otherwise, please use https://register.wildapricot.com to create a new account.

    If you have any questions about this API, please contact our support team at support@wildapricot.com.

  version: 7.24.0
host: api.wildapricot.org
schemes:
  - https
basePath: /v2.2
produces:
  - application/json
  - application/xml
securityDefinitions:
  OAuth2_autorizationCode:
    type: oauth2
    flow: accessCode
    authorizationUrl: 'https://YOUR_ORGANIZATION.wildapricot.com/sys/login/OAuthLogin'
    tokenUrl: 'https://oauth.wildapricot.org/auth/token'
    description: |

      Use this flow to get token by authorization through your organization website login form.

       - Replace YOUR_ORGANIZATION with valid domain name.
       - Allow SSO for your authorized application.
       - Add your web application redirect url to list of trusted domains for that application.

       See also `http://gethelp.wildapricot.com/en/articles/200`


    scopes:
      auto: autodetect allowed scopes based on current user permissions
  OAuth2_password:
    type: oauth2
    flow: password
    tokenUrl: 'https://oauth.wildapricot.org/auth/token'
    description: |
      Use this authentication flow to get oauth token by providing user credentials.
      clientId and clientSecret should be taken from Authorized applications page in admin backend.

      For example if your email is admin@yourdomain.com and password is 123456.
      you should pass
      `username=admin@yourdomain.com&password=12345&&scope=auto`

    scopes:
      auto: autodetect allowed scopes based on current user permissions
  OAuth2_clientCredentials:
    type: oauth2
    flow: application
    tokenUrl: 'https://oauth.wildapricot.org/auth/token'
    description: |
      Use this authentication flow to get token by providing API key.
      For example is your ApiKey is o9q834ywiefyywo34yt you should pass values:
      clientId=APIKEY&clientSecret=o9q834ywiefyywo34yt
    scopes:
      auto: autodetect allowed scopes based on current user permissions
security:
  - OAuth2_autorizationCode: []
  - OAuth2_password: []
  - OAuth2_clientCredentials: []

paths:

  /:
    get:
      operationId: GetApiResources
      summary: Base URL for specific API version.
      description: >-
        base URL for specific API version. It provides a list of resources that can be directly accessible by URL without providing any additional
        information like account ID etc.
      responses:
        '200':
          description: Array of resources
          schema:
            type: array
            items:
              $ref: '#/definitions/Resource'

  '/accounts':
    get:
      operationId: GetAccountsList
      summary: List of available accounts
      description: >
        List of accounts available with current oAuth token. Typicaly here would
        be only one record in an array
      tags:
        - Accounts
      responses:
        '200':
          description: An array of accounts
          schema:
            type: array
            items:
              $ref: '#/definitions/Account'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}':
    get:
      operationId: GetAccount
      summary: Details for specific account
      description: |
        Details for specific account
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Accounts
      responses:
        '200':
          description: Account details
          schema:
            $ref: '#/definitions/Account'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/contacts':
    get:
      operationId: GetContactsList
      summary: Contacts list
      description: >
  
        Contacts search can be executed in synchronous and asynchronous manner.
        It depends on $async query string parameters.
          # Synchronous call
          When API call is processing synchronously, then response is just an array of contacts.
          To make a synchronous contacts search, client application should make a request with query string parameter **$async=false**.
  
          `GET https://api.wildapricot.org/v2/accounts/{account_id}/contacts?$async=false&OTHER_QUERY_PARAMS`
  
          # Asynchronous call
          Contacts search is processed asynchronously by default. So if client application specifies $async=true, or does not specify this parameter at all, the request is processed as described below. In this case contacts search is a two-step action.
          - **Search request**. Client specifies search conditions and receives resultId. See $filter and $select parameters for filtering.
          - **Retrieve result**. Client passes resultId and receives request processing status and contacts list if request is already processed
  
        ![async contact search
        diagramm](http://localhost:8019/Content/swagger/WAFiles/ContactListAsyncCall.png)
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: $async
          in: query
          required: false
          type: boolean
          description: >
  
            Controls whether the API call is perform asynchronously. Default value if true.
  
        - name: resultId
          in: query
          required: false
          type: string
          description: >
  
            This parameter is used on a second step of asynchronous search. It should equal to the value of ResultId in response to the first step of asynchronous search.
  
        - name: $filter
          in: query
          required: false
          type: string
          description: >
  
            Filters the results of the Contacts API call so that only those records that match the filter criteria are included.
  
            See [Filtering the results](http://gethelp.wildapricot.com/en/articles/502#filtering) for details.
  
        - name: $select
          in: query
          required: false
          type: string
          description: >
            Controls which fields are returned in the Contacts API call. 
            The field names correspond to the fields returned by the [ContactFields API call](#/Contacts.CustomFields/GetContactFieldDefinitions), not the field names that appear in Wild Apricot. Multiple field names are separated by commas, and field names with spaces or special characters are enclosed in single quotation marks.
  
        - name: $sort
          in: query
          required: false
          type: string
          description: >
  
            Ordering expression. There are 2 sorting options - **Name** and  **MemberSince**. And also 2 direction modifiers - **asc** and **desc**.
  
            ---
  
            Example of valid expression - MemberSince asc
  
        - name: simpleQuery
          in: query
          required: false
          type: string
          description: >
  
            simpleQuery is a parameter which allows you to search for contacts by matching a substring in first name, last name, organization, email or phone. This is simpler than using $filter parameter. 
  
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
        - name: $count
          in: query
          required: false
          type: boolean
          description: >
  
            Specifies that the result should contain only a total number of records matching criteria. Requests with specified $count parameter are always processed as synchronous.
  
        - name: idsOnly
          in: query
          required: false
          type: boolean
          description: >
  
            When idsOnly specified, the API returns only a list of identifiers matching criteria.
  
      tags:
        - Contacts
      responses:
        '200':
          description: >-
            A wrapper object, which contains a list of contacts, contact identifiers, contacts count or information about asynchronous search request.
          schema:
            $ref: '#/definitions/ContactsResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    post:
      operationId: CreateContact
      summary: Create a new contact or member record
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contact
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateContactParams'
          description: >
  
            - Values for read-only or unrecognized fields will be ignored.
  
            - In order to **assign membership**
              - set MembershipEnabled=true
              - set MembershipLevel.Id to id of desired level
  
            - In order to **assign bundle** membership
              - set MembershipEnabled=true
              - set MembershipLevel.Id to id of some bundle level
              - set 'Member role' field value to json '{ "Label": "ROLE" }' where ROLE is "Bundle administrator" or "Bundle member"
              - For bundle member set field 'Bundle ID' to value of bundle identifier. The bundle ID is returned by the [Bundles API call](https://gethelp.wildapricot.com/en/articles/504) when using it to retrieve bundle information for a particular membership level.
  
  
      tags:
        - Contacts
      responses:
        '200':
          description: >-
            Returns created contact record.
          schema:
            $ref: '#/definitions/contactExtendedMembershipInfo'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/contacts/me':
    get:
      operationId: GetCurrentContactInfo
      summary: Retrieve information about current contact
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Contacts
      responses:
        '200':
          description: information about current contact
          schema:
            $ref: '#/definitions/ContactsMe'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/contacts/{contactId}':
    get:
      operationId: GetContactDetails
      summary: Retrieve information about specific member or contact
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactId
          in: path
          description: Unique contact identifier
          required: true
          type: integer
  
        - name: getExtendedMembershipInfo
          in: query
          required: false
          type: boolean
          description: >
  
            When GetExtendedMembershipInfo specified the API returns the information about membership order status, membership invoice and allowed actions for current member status.
  
      tags:
        - Contacts
      responses:
        '200':
          description: information about specific member or contact
          schema:
            $ref: '#/definitions/contactExtendedMembershipInfo'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateContactDetails
      summary: Update information about existing member or contact
      description: >
        In order to update contact details it is recommended to provide only the custom fields you want to modify. See POST .../contacts for more details.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactId
          in: path
          description: Unique contact identifier
          required: true
          type: integer
        - name: contact
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateContactParams'
      tags:
        - Contacts
      responses:
        '200':
          description: >
            Updated version of contact information.
          schema:
            $ref: '#/definitions/contactExtendedMembershipInfo'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      operationId: DeleteContact
      description: Delete an archived contact
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactId
          in: path
          description: Unique contact identifier
          required: true
          type: integer
      tags:
        - Contacts
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/rpc/{accountId}/AcceptTermsOfUse':
    post:
      operationId: AcceptTermsOfUse
      summary: Accepts Terms of Use.
      description: >
        Accepts Wild Apricot Terms of Use for currently loged in user. Does nothing if accepted already.
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Contacts
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/contactfields':
    get:
      operationId: GetContactFieldDefinitions
      summary: >-
        List of custom fields related to contacts and members.
      description: >
  
        This list contains a list of fields of 2 different types.
         - System fields are defined by Wild Apricot system and cannot be removed.
         - Custom fields can be defined by administrator to store some data specific to your account.
  
      parameters:
        - $ref: '#/parameters/accountId'
        - name: showSectionDividers
          in: query
          type: boolean
          required: false
          default: false
          description: >-
            Default value is false. Specifies whether section dividers also
            should be included in the response.
      tags:
        - Contacts.CustomFields
      responses:
        '200':
          description: An array of contact field descriptions
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactFieldDescription'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    post:
      operationId: CreateContactFieldDefinition
      summary: Creates a new contact / membership field
      parameters:
        - $ref: '#/parameters/accountId'
        - name: ContactField
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateContactFieldParams'
      tags:
        - Contacts.CustomFields
      responses:
        '200':
          description: created field identifier
          schema:
            type: integer
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/contactfields/{contactFieldId}':
    put:
      operationId: UpdateContactFieldDefinition
      summary: Updates an existing contact / membership field
      description: >-
        Limitations: field type cannot be changed; contact field cannot be
        transformed to membership field or vice versa
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactFieldId
          in: path
          description: contact field identifier
          required: true
          type: integer
        - name: ContactField
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateContactFieldParams'
      tags:
        - Contacts.CustomFields
      responses:
        '200':
          description: return true if field was updated successfully
          schema:
            type: boolean
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      operationId: DeleteContactFieldDefinition
      description: removes existing field by id
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactFieldId
          in: path
          description: contact field identifier
          required: true
          type: integer
      tags:
        - Contacts.CustomFields
      responses:
        '200':
          description: return true if field was removed successfully
          schema:
            type: boolean
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/savedsearches':
    get:
      operationId: GetSavedSearchesList
      summary: >-
        List of Saved Searches.
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Contacts.SavedSearch
      responses:
        '200':
          description: An array of saved search descriptions
          schema:
            type: array
            items:
              $ref: '#/definitions/SavedSearchListItem'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/savedsearches/{savedSearchId}':
    get:
      operationId: GetSavedSearchDetails
      summary: >-
        Saved Search and found contacts.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: savedSearchId
          in: path
          description: Saved Search identifier
          required: true
          type: integer
        - name: excludeArchived
          in: query
          description: exclude archived contacts from found ContactIDs.
          required: false
          default: false
          type: boolean
        - name: $filter
          in: query
          required: false
          type: string
          description: >
  
            Filters the results of the Contacts API call so that only those records that match the filter criteria are included.
  
            See [Filtering the results](http://gethelp.wildapricot.com/en/articles/502#filtering) for details.
      tags:
        - Contacts.SavedSearch
      responses:
        '200':
          description: Saved Search description and found contact IDs
          schema:
            $ref: '#/definitions/SavedSearch'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/pictures/{pictureId}':
      get:
        operationId: GetPictureContent
        summary: Download picture
  
        description: Picture available for specific account.
  
        parameters:
          - $ref: '#/parameters/accountId'
  
          - name: pictureId
            in: path
            description: Picture identifier
            required: true
            type: string
  
          - name: fullSize
            in: query
            description: Full size picture will be returned. If full size picture does not exist, thumbnail will be returned.
            required: false
            type: boolean
            default: false
  
          - name: asBase64
            in: query
            description: Base64 encoded image will be returned.
            required: false
            type: boolean
            default: false
  
        tags:
          - Pictures
  
        responses:
          '200':
            description: Response is common HttpResponseMessage with content set to picture binary data.
            schema:
              type: file
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'
          '404':
            $ref: '#/responses/notFound'
          '429':
            $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/pictures':
      post:
        operationId: UploadPicture
        summary: Upload pictures
  
        description: >
          Picture can be uploaded using multipart/form-data POST request (contains Content-Type header set to 'multipart/form-data').
          A multipart/form-data request contains a series of parts, each representing a picture.
          Each part is expected to contain a "Content-Disposition" header whose value is "form-data".
          One of its properties (Name, FileName) must be set and have unique value.
          In case of similar values, only one of those part will be used, others will be dropped.
          For example, you have uploaded 2 pictures with same Name set to "name".
          If they have different FileName set, it's ok, but if FileName properties are same as well,
          only one of those pictures will be saved and available for further processing. Keep this in mind.
  
          Limitations:
            - Maximum size for one uploaded picture is 10mb.
            - Maximum request length is 10mb. It means that you can upload one 10mb picture or 10 pictures 1mb each.
            - Maximum dimensions for uploaded picture are not set, but each picture will be resized to 110px after uploading.
            - Supported picture types are: png, jpeg, bmp. Bmp pictures will be converted to png format.
            - Time period after uploading when picture would be available for use is 30 minutes.
            - Each uploaded picture can be used only once. After first usage it will be removed permanently.
            - Mime type must be 'image' and must correlate to picture type. If you upload the 'png' with 'image/bmp' mime type set, this picture will be dropped.
            - In case of uploading several pictures in one request either 'Name' or 'FileName' property of Content-Disposition header must be set. Otherwise the picture will be dropped.
  
        consumes:
          - multipart/form-data
  
        parameters:
          - $ref: '#/parameters/accountId'
  
          - name: picture0
            in: formData
            description: The uploaded picture0 data
            type: file
            required: true
  
          - name: picture1
            in: formData
            description: The uploaded picture1 data
            type: file
            required: false
  
        tags:
          - Pictures
  
        responses:
          '200':
            description: Response is simple json object which contains picture guids (see example)
            schema:
              type: object
              properties:
  
                picture0:
                  type: string
                  example: cldyhbc3.jpeg
                  description: Picture guid
  
                picture1:
                  type: string
                  example: kxdtilz4.jpeg
                  description: Picture guid
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'
          '429':
            $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/attachments/{attachmentId}':
      get:
        operationId: GetAttachmentContent
        summary: Download attachment
  
        description: Attachment, available for specific account.
  
        parameters:
          - $ref: '#/parameters/accountId'
  
          - name: attachmentId
            in: path
            description: Attachment identifier
            required: true
            type: string
  
          - $ref: '#/parameters/ThumbnailSize'
  
          - name: asBase64
            in: query
            description: Base64 encoded image will be returned.
            required: false
            type: boolean
            default: false
  
        tags:
          - Attachments
  
        responses:
          '200':
            description: Response is common HttpResponseMessage with content set to attachment binary data.
            schema:
              type: file
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'
          '404':
            $ref: '#/responses/notFound'
          '429':
            $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/attachments/GetInfos':
      get:
        operationId: GetAttachmentInfos
        summary: Get attachments infos
  
        description: Attachment infos, available for specific account.
  
        parameters:
          - $ref: '#/parameters/accountId'
  
          - name: attachmentIds
            in: query
            description: list of comma separated Attachment identifiers
            required: true
            type: string
  
        tags:
          - Attachments
  
        responses:
          '200':
            description: An array of attachment descriptions
            schema:
              type: array
              items:
                $ref: '#/definitions/FileInfo'
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'
          '404':
            $ref: '#/responses/notFound'
          '429':
            $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/attachments/Upload':
      post:
        operationId: UploadAttachments
        summary: Upload attachments 
  
        description: >
          Upload attachments data and get their identifiers to use for contact values. 
          Attachment not used for any Contact field value will be deleted in 30 minutes.
        parameters:
          - $ref: '#/parameters/accountId'
  
          - $ref: '#/parameters/AttachmentDataParams'
        tags:
          - Attachments
  
        responses:
          '200':
            description: An array of attachment descriptions
            schema:
              type: array
              items:
                $ref: '#/definitions/FileInfo'
          '400':
            $ref: '#/responses/badRequest'
          '401':
            $ref: '#/responses/unauthorized'
          '429':
            $ref: '#/responses/tooManyRequests'

  
  '/accounts/{accountId}/membershiplevels':
    get:
      operationId: GetMembershipLevelsList
      summary: Get list of all membership levels.
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Membership.Levels
      responses:
        '200':
          description: Collection of membership levels.
          schema:
            type: array
            items:
              $ref: '#/definitions/MembershipLevel'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/membershiplevels/{levelId}':
    get:
      operationId: GetMembershipLevelDetails
      summary: Retrieve information about specific membership level
      parameters:
        - $ref: '#/parameters/accountId'
        - name: levelId
          in: path
          description: Unique membership level identifier
          required: true
          type: integer
      tags:
        - Membership.Levels
      responses:
        '200':
          description: information about specific membership level
          schema:
            $ref: '#/definitions/MembershipLevel'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/bundles':
    get:
      operationId: GetMembershipBundlesList
      summary: Get list of membership bundles.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: levelId
          in: query
          required: false
          type: integer
          description: Provide this parameter to get only bundles related to specific membership level.
      tags:
        - Membership.Bundles
      responses:
        '200':
          description: List of bundles matching query parameters.
          schema:
            type: array
            items:
              $ref: '#/definitions/Bundle'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/bundles/{bundleId}':
    get:
      operationId: GetMembershipBundle
      summary: Get membership bundle details.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: bundleId
          in: path
          description: Unique bundle identifier
          required: true
          type: integer
      tags:
        - Membership.Bundles
      responses:
        '200':
          description: Bundle description.
          schema:
            $ref: '#/definitions/Bundle'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/membergroups':
    get:
      operationId: GetMembershipGroups
      summary: >-
        List of Ad Hoc member groups.
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Membership.Groups
      responses:
        '200':
          description: An array of member group descriptions
          schema:
            type: array
            items:
              $ref: '#/definitions/MembershipGroupListItem'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/membergroups/{memberGroupId}':
    get:
      operationId: GetMembershipGroupDetails
      summary: >-
        Ad Hoc member group.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: memberGroupId
          in: path
          description: member group identifier
          required: true
          type: integer
        - name: includeArchivedMembers
          in: query
          description: include archived contacts in ContactIds list. Default - true.
          required: false
          default: true
          type: boolean
      tags:
        - Membership.Groups
      responses:
        '200':
          description: member group description
          schema:
            $ref: '#/definitions/MembershipGroup'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/rpc/{accountId}/ApprovePendingMembership':
    post:
      operationId: ApprovePendingMembership
      summary: Approve pending membership.
      description: >
  
        Availability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions.
        If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.
  
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactId
          in: query
          description: Contact ID to approve membership
          required: true
          type: integer
      tags:
        - Membership.Operations
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '400':
          $ref: '#/responses/badRequest'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/rpc/{accountId}/RejectPendingMembership':
    post:
      operationId: RejectPendingMembership
      summary: Reject pending membership.
      description: >
  
        Availability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions.
        If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactId
          in: query
          description: Contact ID to reject membership
          required: true
          type: integer
      tags:
        - Membership.Operations
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '400':
          $ref: '#/responses/badRequest'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/events':
    get:
      operationId: GetEventsList
      summary: Events list
      description: >
  
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: $async
          in: query
          required: false
          type: boolean
          description: >
  
            Controls whether the API call is perform asynchronously. Default value if true.
  
        - name: resultId
          in: query
          required: false
          type: string
          description: >
  
            This parameter is used on a second step of asynchronous search. It should equal to the value of ResultId in response to the first step of asynchronous search.
  
        - name: $filter
          in: query
          required: false
          type: string
          description: >
  
            Filters the results of the Events API call so that only those records that match the filter criteria are included.
  
            The following filter criterias are supported:
  
              - Id, Supported operations: in.
              - RegistrationEnabled, Supported operations: eq, ne.
              - IsUpcoming, Supported operations: eq, ne.
              - Tags, Supported operations: in.
              - StartDate, Supported operations: eq, ne, gt, ge, lt, le.
              - EndDate, Supported operations: eq, ne, gt, ge, lt, le.
              - Name, Supported operations: eq, ne, substringof.
              - TextIndex, Supported operations: substringof.
  
        - name: $sort
          in: query
          required: false
          type: string
          description: >-
  
            This parameter can be used to sort list of IDs or list of events. Possible values are
  
              - ByStartDate asc - sort events by their Start date. Ascending order.
              - ByStartDate desc - sort events by their Start date. Descending order.
              - ByStartSession asc - sort events by start of their sessions (if exists). All past events ignored
  
              Example: $sort=ByStartDate asc
  
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
        - name: $count
          in: query
          required: false
          type: boolean
          description: >
  
            Specifies that result should contain only a total number of records matching criteria. Requests with specified $count parameter are always processed as synchronous.
  
        - name: idsOnly
          in: query
          required: false
          type: boolean
          description: >
  
            When idsOnly specified, the API returns only a list of identifiers matching criteria.
  
      tags:
        - Events
      responses:
        '200':
          description: >-
            A wrapper object, which contains a list of events, event identifiers or events count.
          schema:
            $ref: '#/definitions/EventsResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    post:
      operationId: CreateEvent
      summary: Create a new event record
      parameters:
        - $ref: '#/parameters/accountId'
        - name: event
          in: body
          required: true
          schema:
            $ref: '#/definitions/EventEditParams'
          description: Event description
  
      tags:
        - Events
      responses:
        '200':
          description: >-
            Returns created event record id
          schema:
            type: number
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/events/{eventId}':
    get:
      operationId: GetEventDetails
      summary: Retrieve information about specific event
      parameters:
        - $ref: '#/parameters/accountId'
        - name: eventId
          in: path
          description: Unique event identifier
          required: true
          type: integer
      tags:
        - Events
      responses:
        '200':
          description: information about specific event
          schema:
            $ref: '#/definitions/Event'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateEvent
      summary: Update information about existing event
      parameters:
        - $ref: '#/parameters/accountId'
        - name: eventId
          in: path
          description: Unique event identifier
          required: true
          type: integer
        - name: event
          in: body
          required: true
          schema:
            $ref: '#/definitions/EventEditParams'
      tags:
        - Events
      responses:
        '200':
          description: >
            Updated version of event information.
          schema:
            $ref: '#/definitions/Event'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      operationId: DeleteEvent
      description: Completely delete event from system.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: eventId
          in: path
          description: Unique event identifier
          required: true
          type: integer
      tags:
        - Events
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  
  '/rpc/{accountId}/CloneEvent':
    post:
      operationId: CloneEvent
      summary: Clone existed event.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/CloneEvent'
      tags:
        - Events
      responses:
        '200':
          description: created event id
          schema:
            type: integer
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  '/accounts/{accountId}/EventRegistrationTypes':
    get:
      operationId: getEventRegistrationTypesList
      summary: Event registration types list
      description: >
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: eventId
          in: query
          description: event identifier
          required: true
          type: integer
  
      tags:
        - Events.EventRegistrationTypes
  
      responses:
        '200':
          description: List of event registration types
          schema:
            $ref: '#/definitions/EventRegistrationTypeResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    post:
      operationId: CreateEventRegistrationType
      summary: Creates a new event registration type.
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: EventRegistrationType
          schema:
            $ref: '#/definitions/EventRegistrationTypeEditParams'
          in: body
          required: true
      tags:
        - Events.EventRegistrationTypes
      responses:
        '200':
          description: Created event registration type ID
          schema:
            type: integer
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/EventRegistrationTypes/{typeId}':
    get:
      operationId: GetEventRegistrationTypeDetails
      summary: Event registration type details
      parameters:
        - $ref: '#/parameters/accountId'
        - name: typeId
          in: path
          description: Unique event registration type identifier
          required: true
          type: number
          format: integer
      tags:
        - Events.EventRegistrationTypes
      responses:
        '200':
          description: Information about specific event registration type
          schema:
            $ref: '#/definitions/EventRegistrationType'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateEventRegistrationType
      summary: Update information about existing event registration type
      parameters:
        - $ref: '#/parameters/accountId'
        - name: typeId
          in: path
          description: Unique event registration type identifier
          required: true
          type: number
          format: integer
        - name: event
          in: body
          required: true
          schema:
            $ref: '#/definitions/EventRegistrationTypeEditParams'
      tags:
        - Events.EventRegistrationTypes
      responses:
        '200':
          description: No information returned on successful update
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      operationId: DeleteEventRegistrationType
      description: Completely delete event registration type from the system.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: typeId
          in: path
          description: Unique event registration type identifier
          required: true
          type: integer
      tags:
        - Events.EventRegistrationTypes
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/eventregistrations':
    get:
      operationId: GetEventRegistrationsList
      summary: Event Registrations list
      description: >
            ⚠ There are 3 parameters, which cannot be used simultaneously. API uses only one parameter of contactId, eventId, $filter or ids exactly in this order. For example if request contains both contactId and eventId, then API uses only contactId to filter event registrations.
            ⚠ Request parameter is required
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: contactId
          in: query
          description: contact identifier
          required: false
          type: integer
  
        - name: eventId
          in: query
          description: event identifier
          required: false
          type: integer
  
        - name: $filter
          in: query
          required: false
          type: string
          description: >
            Filters the results of the Events API call so that only those records that match the filter criteria are included.
            The following filter criterias are supported:
              - Id, Supported operations: in.
                example: ?$filter=id in [1,2,3,4….]
  
        - name: includeDetails
          in: query
          description: If false, registration form data is not retrieved
          required: false
          type: boolean
          default: true
  
        - name: includeWaitlist
          in: query
          description: Defines if waitlist records should be included in result 
          required: false
          type: boolean
          default: false
  
      tags:
        - Events.EventRegistrations
  
      responses:
        '200':
          description: List of event registrations
          schema:
            $ref: '#/definitions/EventRegistrationsResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    post:
      operationId: CreateEventRegistration
      summary: Creates a new event registration.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: EventRegistration
          schema:
            $ref: '#/definitions/EventRegistrationPost'
          in: body
          required: true
      tags:
        - Events.EventRegistrations
      responses:
        '200':
          description: Event registration created
          schema:
            $ref: '#/definitions/EventRegistration'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/eventregistrations/{event_registration_id}':
    get:
      operationId: GetEventRegistrationDetails
      summary: Event Registration Details
      parameters:
        - $ref: '#/parameters/accountId'
        - name: event_registration_id
          in: path
          description: event registration identifier
          required: true
          type: number
          format: integer
      tags:
        - Events.EventRegistrations
      responses:
        '200':
          description: List of Event Registrations
          schema:
            $ref: '#/definitions/EventRegistration'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      operationId: DeleteEventRegistration
      summary: Event registration
      parameters:
        - $ref: '#/parameters/accountId'
        - name: event_registration_id
          in: path
          description: event registration identifier
          required: true
          type: number
          format: integer
      tags:
        - Events.EventRegistrations
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateEventRegistration
      summary: Update event registration.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: event_registration_id
          in: path
          description: event registration identifier
          required: true
          type: number
          format: integer
        - name: EventRegistration
          schema:
            $ref: '#/definitions/EventRegistrationPut'
          in: body
          required: true
      tags:
        - Events.EventRegistrations
      responses:
        '200':
          description: Event registration created
          schema:
            $ref: '#/definitions/EventRegistration'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/rpc/{accountId}/CheckInEventAttendee':
    post:
      operationId: CheckInEventAttendee
      summary: Mark event attendee as checked-in (or remove check-in flag).
      parameters:
        - $ref: '#/parameters/accountId'
        - name: CheckInParams
          schema:
            $ref: '#/definitions/CheckInParams'
          in: body
          required: true
      tags:
        - Events.EventRegistrations
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '400':
          $ref: '#/responses/badRequest'
        '429':
          $ref: '#/responses/tooManyRequests'
      
  '/rpc/{accountId}/RegisterFromWaitlist':
    post:
      operationId: RegisterFromWaitlist
      summary: Add waitlisted person as event attendee
      parameters:
        - $ref: '#/parameters/accountId'
        - name: RegisterFromWaitlistParams
          schema:
            $ref: '#/definitions/RegisterFromWaitlistParams'
          in: body
          required: true
      tags:
        - Events.EventRegistrations
      responses:
        '200':
          description: Event registration created
          schema:
            $ref: '#/definitions/EventRegistration'
        '401':
          $ref: '#/responses/unauthorized'
        '400':
          $ref: '#/responses/badRequest'
        '429':
          $ref: '#/responses/tooManyRequests'

  
  '/accounts/{accountId}/invoices':
    get:
      operationId: GetInvoicesList
      summary: Get list of invoices by criteria.
      description: >
  
        ⚠ There are 3 parameters, which cannot be used simultaneously. API uses only one parameter of contactId, eventId and eventRegistrationId exactly in this order. For example if request contains both contactId and eventId, then API uses only contactId to filter invoices.
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: contactId
          in: query
          required: false
          type: integer
          description: Identifier of contact to whom the invoice is assigned.
  
        - name: eventId
          in: query
          required: false
          type: integer
          description: Identifier of event. When specified API returns collection of invoices associated with event registrations for the event.
  
        - name: eventRegistrationId
          in: query
          required: false
          type: integer
          description: Identifier of event registration. When specified API returns invoice related to the registration. Usually a single invoice.
  
        - name: unpaidOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only unpaid invoices.
  
        - name: paidOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only paid invoices.
  
        - name: includeVoided
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API also returns voided invoices.
  
        - name: idsOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only collection of identifiers instead of collection of invoices.
  
        - name: StartDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to invoices created since StartDate.
  
        - name: EndDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to invoices created before EndDate.
  
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: Collection of invoices that match criteria.
          schema:
            $ref: '#/definitions/InvoicesResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    post:
      operationId: CreateInvoice
      summary: Creates a new invoice.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: Invoice
          schema:
            $ref: '#/definitions/CreateInvoiceParams'
          in: body
          required: true
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: Created invoice ID
          schema:
            type: integer
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/invoices/{invoiceId}':
    get:
      operationId: GetInvoiceDetails
      summary: Retrieve information about specific invoice
      parameters:
        - $ref: '#/parameters/accountId'
        - name: invoiceId
          in: path
          description: Unique invoice identifier
          required: true
          type: integer
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: information about specific invoice
          schema:
            $ref: '#/definitions/Invoice'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    put:
      operationId: UpdateInvoice
      summary: Update existing invoice information
      parameters:
        - $ref: '#/parameters/accountId'
        - name: invoiceId
          type: integer
          in: path
          required: true
        - name: Invoice
          schema:
            $ref: '#/definitions/UpdateInvoiceParams'
          in: body
          required: true
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    delete:
      operationId: DeleteInvoice
      summary: Delete existing invoice
      parameters:
        - $ref: '#/parameters/accountId'
        - name: invoiceId
          type: integer
          in: path
          required: true
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: Returns 200 on successful invoice deletion
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/rpc/{accountId}/GenerateInvoiceForPendingMembership':
    post:
      operationId: GenerateInvoiceForPendingMembership
      summary: Generate or update invoice for pending membership.
      description: >
  
        Availability of this action depends on contact's state. In order to prevent failures it is recommended to get contact details with parameter getExtendedMembershipInfo=true and use list of allowed actions from Contact.ExtendedMembershipInfo.AllowedActions.
        If this action is not allowed but client calls it, then API returns HTTP 400, Bad request.
  
      parameters:
        - $ref: '#/parameters/accountId'
        - name: contactId
          in: query
          description: Contact ID with pending membership
          required: true
          type: integer
        - name: updateIfExists
          in: query
          description: update the invoice items if already exists
          required: false
          default: false
          type: boolean
      tags:
        - Membership.Operations
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '400':
          $ref: '#/responses/badRequest'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/rpc/{accountId}/GenerateInvoiceForEventRegistration':
    post:
      operationId: GenerateInvoiceForEventRegistration
      summary: Generate or update invoice for existing event registration.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: eventRegistrationId
          in: query
          description: Event registration ID with pending membership
          required: true
          type: integer
        - name: updateIfExists
          in: query
          description: If set to true and invoice already exists, API will update the invoice items.
          required: false
          default: false
          type: boolean
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: created or updated invoice
          schema:
            $ref: '#/definitions/Invoice'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  
  '/rpc/{accountId}/VoidInvoice':
    post:
      operationId: VoidInvoice
      summary: Void active invoice.
      description: See https://gethelp.wildapricot.com/en/articles/76#voiding for details on invoice voiding
      parameters:
        - $ref: '#/parameters/accountId'
        - name: invoiceId
          in: query
          description: invoiceId ID to void
          required: true
          type: integer
      tags:
        - Finances.Invoices
      responses:
        '200':
          description: OK
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  '/accounts/{accountId}/payments':
    get:
      operationId: GetPaymentsList
      summary: Get list of payments by criteria.
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: contactId
          in: query
          required: false
          type: integer
          description: Identifier of contact who made the payment.
  
        - name: eventId
          in: query
          required: false
          type: integer
          description: Identifier of event. When specified API returns collection of payments settled to invoices associated with event registrations for the event.
  
        - name: idsOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only collection of identifiers instead of collection of payments.
  
        - name: StartDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to payments created since StartDate.
  
        - name: EndDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to payments created before EndDate.
  
        - name: paimentType
          in: query
          required: false
          type: string
          description: Limits result to payment type.
  
        - name: unsettledOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only unsettled payments.
  
        - name: ids
          in: query
          required: false
          type: string
          description: You can filter the payments by specifying a set of payment IDs.
  
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
      tags:
        - Finances.Payments
      responses:
        '200':
          description: Collection of payments that match criteria.
          schema:
            $ref: '#/definitions/PaymentsResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    post:
      operationId: CreatePayment
      summary: Creates a new payment.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: Payment
          schema:
            $ref: '#/definitions/CreatePaymentModel'
          in: body
          required: true
      tags:
        - Finances.Payments
      responses:
        '200':
          description: Payment created
          schema:
            $ref: '#/definitions/Payment'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/payments/{paymentId}':
    get:
      operationId: GetPaymentDetails
      summary: Retrieve information about specific payment
      parameters:
        - $ref: '#/parameters/accountId'
        - name: paymentId
          in: path
          description: Unique payment identifier
          required: true
          type: integer
      tags:
        - Finances.Payments
      responses:
        '200':
          description: information about specific payment
          schema:
            $ref: '#/definitions/Payment'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdatePayment
      summary: Update existing payment information
      parameters:
        - $ref: '#/parameters/accountId'
        - name: paymentId
          type: integer
          in: path
          required: true
        - name: Payment
          schema:
            $ref: '#/definitions/UpdatePaymentParams'
          in: body
          required: true
      tags:
        - Finances.Payments
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    delete:
      operationId: DeletePayment
      summary: Delete existing payment
      parameters:
        - $ref: '#/parameters/accountId'
        - name: paymentId
          type: integer
          in: path
          required: true
      tags:
        - Finances.Payments
      responses:
        '200':
          description: Returns 200 on successful payment deletion
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/payments/{paymentId}/AllocateInvoice':
    post:
      operationId: AllocateInvoice
      summary: Allocate invoice to specific payment
      description: After this operation invoice will be marked as paid.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: paymentId
          in: path
          description: Unique payment identifier
          required: true
          type: integer
        - $ref: '#/parameters/AllocateInvoiceParams'
      tags:
        - Finances.Payments
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/payments/{paymentId}/AllocateRefundToPayment':
    post:
      operationId: AllocateRefundToPayment
      summary: Allocate refund to specific payment
      parameters:
        - $ref: '#/parameters/accountId'
        - name: paymentId
          in: path
          description: Unique payment identifier
          required: true
          type: integer
        - $ref: '#/parameters/RefundParam'
      tags:
        - Finances.Payments
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/payments/{donationId}/AllocateRefundToDonation':
    post:
      operationId: AllocateRefundToDonation
      summary: Allocate refund to specific donation
      parameters:
        - $ref: '#/parameters/accountId'
        - name: donationId
          in: path
          description: Unique donation identifier
          required: true
          type: integer
        - $ref: '#/parameters/RefundParam'
      tags:
        - Finances.Payments
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/payments/{paymentId}/UnallocateFromPayment':
    post:
      operationId: UnallocateFinanceDocumentFromPayment
      summary: Unallocate finance document from specific payment
      parameters:
        - $ref: '#/parameters/accountId'
        - name: paymentId
          in: path
          description: Unique payment identifier
          required: true
          type: integer
        - $ref: '#/parameters/DocumentParam'
      tags:
        - Finances.Payments
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/payments/{donationId}/UnallocateFromDonation':
    post:
      operationId: UnallocateFinanceDocumentFromDonation
      summary: Unallocate finance document from specific donation
      parameters:
        - $ref: '#/parameters/accountId'
        - name: donationId
          in: path
          description: Unique donation identifier
          required: true
          type: integer
        - $ref: '#/parameters/DocumentParam'
      tags:
        - Finances.Payments
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/paymentAllocations':
    get:
      operationId: GetPaymentAllocationsList
      summary: Get list describing how payments are allocated among invoices.
      description: At least one parameter InvoiceId or PaymentId or RefundId should be specified.
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: InvoiceId
          in: query
          required: false
          type: integer
          description: Identifier of invoice.
  
        - name: PaymentId
          in: query
          required: false
          type: integer
          description: Identifier of payment.
  
        - name: RefundId
          in: query
          required: false
          type: integer
          description: Identifier of refund.
  
      tags:
        - Finances.PaymentAllocations
      responses:
        '200':
          description: Collection of allocations.
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentAllocation'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/refunds':
  
    get:
      operationId: GetRefundsList
      summary: Get list of refunds by criteria.
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: contactId
          in: query
          required: false
          type: integer
          description: Identifier of contact to whom the refund was made.
  
        - name: eventId
          in: query
          required: false
          type: integer
          description: Identifier of event. When specified API returns collection of refunds settled to invoices associated with event registrations for the event.
  
        - name: idsOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only collection of identifiers instead of collection of refunds.
  
        - name: StartDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to refunds created since StartDate.
  
        - name: EndDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to refunds created before EndDate.
  
        - name: unsettledOnly
          in: query
          required: false
          type: boolean
          default: false
          description: When set to true, API returns only unsettled refunds.
  
        - name: ids
          in: query
          required: false
          type: string
          description: You can filter the refunds by specifying a set of refund IDs.
  
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
      tags:
        - Finances.Refunds
      responses:
        '200':
          description: Collection of refunds that match criteria.
          schema:
            $ref: '#/definitions/RefundsResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    post:
      operationId: CreateRefund
      summary: Creates a new refund.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: Refund
          schema:
            $ref: '#/definitions/CreateRefundParams'
          in: body
          required: true
      tags:
        - Finances.Refunds
      responses:
        '200':
          description: Refund created
          schema:
            $ref: '#/definitions/Refund'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/refunds/{refundId}':
    get:
      operationId: GetRefundDetails
      summary: Retrieve information about specific refund
      parameters:
        - $ref: '#/parameters/accountId'
        - name: refundId
          in: path
          description: Unique refund identifier
          required: true
          type: integer
      tags:
        - Finances.Refunds
      responses:
        '200':
          description: information about specific refund
          schema:
            $ref: '#/definitions/Refund'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateRefund
      summary: Update existing refund information
      parameters:
        - $ref: '#/parameters/accountId'
        - name: refundId
          type: integer
          in: path
          required: true
        - name: Refund
          schema:
            $ref: '#/definitions/UpdateRefundParams'
          in: body
          required: true
      tags:
        - Finances.Refunds
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    delete:
      operationId: DeleteRefund
      summary: Delete existing refund
      parameters:
        - $ref: '#/parameters/accountId'
        - name: refundId
          type: integer
          in: path
          required: true
      tags:
        - Finances.Refunds
      responses:
        '200':
          description: Returns 200 on successful refund deletion
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/tenders':
    get:
      operationId: GetTendersList
      summary: Get list of tenders.
      parameters:
        - $ref: '#/parameters/accountId'
      tags:
        - Finances.Tenders
      responses:
        '200':
          description: Collection of tenders.
          schema:
            $ref: '#/definitions/TendersResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    post:
      operationId: CreateTender
      summary: Creates a new tender.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: Tender
          schema:
            $ref: '#/definitions/Tender'
          in: body
          required: true
      tags:
        - Finances.Tenders
      responses:
        '200':
          description: Tenderscreated
          schema:
            $ref: '#/definitions/Tender'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/tenders/{tenderId}':
    get:
      operationId: GetTenderDetails
      summary: Retrieve information about specific tender
      parameters:
        - $ref: '#/parameters/accountId'
        - name: tenderId
          in: path
          description: Unique tender identifier
          required: true
          type: integer
      tags:
        - Finances.Tenders
      responses:
        '200':
          description: information about specific tender
          schema:
            $ref: '#/definitions/Tender'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateTender
      summary: Update existing tender information
      parameters:
        - $ref: '#/parameters/accountId'
        - name: tenderId
          type: integer
          in: path
          required: true
        - name: Tender
          schema:
            $ref: '#/definitions/Tender'
          in: body
          required: true
      tags:
        - Finances.Tenders
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      operationId: DeleteTender
      summary: Delete existing tender
      parameters:
        - $ref: '#/parameters/accountId'
        - name: tenderId
          type: integer
          in: path
          required: true
      tags:
        - Finances.Tenders
      responses:
        '200':
          description: Returns 200 on successful tender deletion
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/auditLogItems':
    get:
      operationId: GetAuditLogItems
      summary: >-
        List of Audit log items.
      description: >
         List filter has limitations.
          - if filterObjectType is set then FilterObjectId must be set too.
          - empty filter not allowed (none of filterObjectType, FilterObjectId, StartDate and EndDate are set).
      parameters:
        - $ref: '#/parameters/accountId'
        - name: filterObjectType
          in: query
          required: false
          type: string
          enum:
            - Undefined
            - Contact
            - Event
            - EventRegistration
            - Invoice
            - Payment
            - Refund
            - Donation
          description: Kind of object for audit log filter
        - name: FilterObjectId
          in: query
          required: false
          type: integer
          description: Unique identifyer of type filterObjectType
        - name: StartDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to log items created since StartDate.
        - name: EndDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to log items created before EndDate.
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
      tags:
        - Finances.AuditLog
      responses:
        '200':
          description: An array of audit log item descriptions
          schema:
            $ref: '#/definitions/AuditItemsListResult'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/auditLogItems/{itemId}':
    get:
      operationId: GetAuditLogItem
      summary: >-
        Single audit log item.
      parameters:
        - $ref: '#/parameters/accountId'
        - name: itemId
          in: path
          description: Audit log item identifier
          required: true
          type: integer
      tags:
        - Finances.AuditLog
      responses:
        '200':
          description: Audit log item description
          schema:
            $ref: '#/definitions/AuditLogItem'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/donationfields':
    get:
      summary: >-
        List of custom fields related to donations.
      description: >
  
        This list contains a list of fields of 2 different types.
         - System fields are defined by Wild Apricot system and could not be removed.
         - Custom fields could be defined by administrator to store some data specific to your account.
  
      parameters:
        - $ref: '#/parameters/accountId'
        - name: showSectionDividers
          in: query
          type: boolean
          required: false
          default: false
          description: >-
            Default value is false. Specifies whether section dividers also
            should be presented in the response.
      tags:
        - Donation.CustomFields
      responses:
        '200':
          description: An array of donation field descriptions
          schema:
            type: array
            items:
              $ref: '#/definitions/EntityFieldDescription'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
    post:
      summary: Creates a new donation field
      parameters:
        - $ref: '#/parameters/accountId'
        - name: DonationField
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEntityFieldParams'
      tags:
        - Donation.CustomFields
      responses:
        '200':
          description: created field identifier
          schema:
            type: integer
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/donationfields/{donationFieldId}':
    put:
      summary: Updates an existing donation field
      description: >-
        Limitations: field type can not be changed
      parameters:
        - $ref: '#/parameters/accountId'
        - name: donationFieldId
          in: path
          description: donation field identifier
          required: true
          type: integer
        - name: DonationField
          in: body
          required: true
          schema:
            $ref: '#/definitions/EditEntityFieldParams'
      tags:
        - Donation.CustomFields
      responses:
        '200':
          description: return true if field was updated successfully
          schema:
            type: boolean
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    delete:
      description: removes existing field by id
      parameters:
        - $ref: '#/parameters/accountId'
        - name: donationFieldId
          in: path
          description: donation field identifier
          required: true
          type: integer
      tags:
        - Donation.CustomFields
      responses:
        '200':
          description: return true if field was removed successfully
          schema:
            type: boolean
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/donations':
    get:
      operationId: GetDonationsList
      summary: Get list of donations by criteria.
      parameters:
        - $ref: '#/parameters/accountId'
  
        - name: StartDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to donations created since StartDate.
  
        - name: EndDate
          in: query
          required: false
          type: string
          format: date
          description: Limits result to donations created before EndDate.
  
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
      tags:
        - Finances.Donations
      responses:
        '200':
          description: Collection of donations that match criteria.
          schema:
            $ref: '#/definitions/DonationListResponse'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/donations/{donationId}':
    get:
      operationId: GetDonationDetails
      summary: Retrieve information about specific donation
      parameters:
        - $ref: '#/parameters/accountId'
        - name: donationId
          in: path
          description: Unique donation identifier
          required: true
          type: integer
      tags:
        - Finances.Donations
      responses:
        '200':
          description: information about specific donation
          schema:
            $ref: '#/definitions/Donation'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
    put:
      operationId: UpdateDonation
      summary: Update existing donation information
      parameters:
        - $ref: '#/parameters/accountId'
        - name: donationId
          type: integer
          in: path
          required: true
        - name: Donation
          schema:
            $ref: '#/definitions/Donation'
          in: body
          required: true
      tags:
        - Finances.Donations
      responses:
        '200':
          description: Returns 200 on successful data update
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/SentEmails':
    get:
      operationId: GetSentEmailsLog
      description: Sent emails
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
        - name: idsOnly
          in: query
          description: >
            To get only a list of email identifiers as a result of search
            request.
          required: false
          type: boolean
        - name: $filter
          in: query
          description: >-
            Allowed filter fields (**allowed operations**):
              - *SentDate* (**ge**, **le**),
              - *SenderId* (**eq**) - ID of sender,
              - *OriginType* (**eq**) - see SentEmail.Origin.OriginType,
              - *SendingType* (**eq**) -SentEmail.SendingType (Automatic or Manual)
  
              only AND boolean operator supported
              - ...&$filter=SentDate ge 2018-05-01 - will return records sent on or after May 1st, 2018
  
          required: false
          type: string
      tags:
        - Emailing.SentEmails
      responses:
        '200':
          description: >-
            Contains a list of sent emails or list of identifiers, depending on idsOnly parameter value.
          schema:
            $ref: '#/definitions/EmailLog'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/SentEmails/{emailId}':
    get:
      operationId: GetSentEmailDetails
      description: Sent email details
      parameters:
        - $ref: '#/parameters/accountId'
        - name: emailId
          in: path
          description: Email unique Id
          required: true
          type: integer
      tags:
        - Emailing.SentEmails
      responses:
        '200':
          description: Email details
          schema:
            $ref: '#/definitions/EmailLogRecord'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/EmailDrafts':
    get:
      operationId: GetEmailDraftsList
      description: Email drafts
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
        - name: idsOnly
          in: query
          description: >
            Should be set to true in order to get only a list of email identifiers as a result of search
            request.
          required: false
          type: boolean
        - name: $filter
          in: query
          description: >-
            Allowed filter fields (**allowed operations**):
              - *LastChangedDate* (**ge**, **le**),
              - *CreatorId* (**eq**),
              - *IsScheduled* (**eq**),
              - *EventId* (**eq**)
  
              only AND boolean operator supported
              - ...&$filter=LastChangedDate ge 2018-05-01 - will return records updated on or after May 1st, 2018
              - ...&$filter=LastChangedDate ge 2010-05-01 AND CreatorId eq 123456 - will return records updated on or after May 1st, 2010 and create by a user with Contact ID 123456      
              - ...&$filter=IsScheduled eq true - will return scheduled drafts only
        
          required: false
          type: string
      tags:
        - Emailing.Drafts
      responses:
        '200':
          description: >-
            A wrapper object, which contains a list of sent emails. also
            contains EmailDraftIdentifiersResult if idsOnly parameter is true
          schema:
            $ref: '#/definitions/EmailDraftListResult'
        '401':
          $ref: '#/responses/unauthorized'
        '428':
          $ref: '#/responses/termsOfUseRequired'
        '429':
          $ref: '#/responses/tooManyRequests'
  
  '/accounts/{accountId}/EmailDrafts/{draftId}':
  
    get:
      operationId: GetEmailDraft
      description: Email draft details
      parameters:
        - $ref: '#/parameters/accountId'
        - name: draftId
          in: path
          description: Email draft Id
          required: true
          type: integer
      tags:
        - Emailing.Drafts
      responses:
        '200':
          description: Email draft
          schema:
            $ref: '#/definitions/EmailDraft'
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'
  
    delete:
      operationId: DeleteEmailDraft
      description: Delete email draft
      parameters:
        - $ref: '#/parameters/accountId'
        - name: draftId
          in: path
          description: Email draft Id
          required: true
          type: integer
      tags:
        - Emailing.Drafts
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/responses/unauthorized'
        '404':
          $ref: '#/responses/notFound'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/accounts/{accountId}/SentEmailRecipients':
    get:
      operationId: SentEmailRecipientList
      description: Sent email recipients
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/pagingSkip'
        - $ref: '#/parameters/pagingTop'
        - name: emailId
          in: query
          description: sent email Id (from email Log)
          required: true
          type: integer
        - name: LoadLinks
          in: query
          description: load clicked links information
          required: false
          type: boolean
        - name: Delivered
          in: query
          description: load delivered or not delivered only
          required: false
          type: boolean
        - name: Opened
          in: query
          description: load opened or not opened only
          required: false
          type: boolean
      tags:
        - Emailing.SentEmailRecipients
      responses:
        '200':
          description: >-
            Contains a list of sent email recipients.
          schema:
            $ref: '#/definitions/SentEmailRecipientsRecords'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'

  '/rpc/{accountId}/email/SetEmailDraftSchedule':
    post:
      operationId: SetEmailDraftSchedule
      summary: Pause or resume scheduled draft.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/EmailScheduleParams'
      tags:
        - Emailing.Operations
      responses:
        '200':
          description: OK
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/GetEmailDraftPreview':
    post:
      operationId: GetEmailDraftPreview
      summary: Get preview version of email.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/SendDraftParams'
      tags:
        - Emailing.Operations
      responses:
        '200':
          description: email preview subject and body
          schema:
            $ref: '#/definitions/EmailDraftPreview'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/SendEmailDraft':
    post:
      operationId: SendEmailDraft
      summary: Send draft.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/SendDraftParams'
      tags:
        - Emailing.Operations
      responses:
        '200':
          description: created sent email id
          schema:
            type: integer
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/SendEmail':
    post:
      operationId: SendEmail
      summary: Send draft.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/SendEmailParams'
      tags:
        - Emailing.Operations
      responses:
        '200':
          description: created sent email id
          schema:
            type: integer
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/CountUniqueAddressesForEmailRecipients':
    post:
      operationId: GetUniqueEmailRecipientsCount
      summary: Get count of real email recipients (unique addresses).
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/EmailRecipientsParams'
      tags:
        - Emailing.Operations
      responses:
        '200':
          schema:
            type: integer
          description: OK
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/CountUniqueAddressesForEmailDraft':
    post:
      operationId: GetUniqueEmailRecipientsCountForDraft
      summary: Get count of real email recipients (unique addresses).
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/emailDraftId'
      tags:
        - Emailing.Operations
      responses:
        '200':
          schema:
            type: integer
          description: OK
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/GetUniqueAddressesForEmailRecipients':
    post:
      operationId: GetUniqueAddressesForEmailRecipients
      summary: Get unique addresses of real email recipients.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/EmailRecipientsParams'
      tags:
        - Emailing.Operations
      responses:
        '200':
          schema:
            $ref: '#/definitions/EmailRecipients'
          description: OK
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/rpc/{accountId}/email/GetUniqueAddressesForEmailDraft':
    post:
      operationId: GetUniqueAddressesForEmailDraft
      summary: Get unique addresses of real email recipients.
      parameters:
        - $ref: '#/parameters/accountId'
        - $ref: '#/parameters/emailDraftId'
      tags:
        - Emailing.Operations
      responses:
        '200':
          schema:
            $ref: '#/definitions/EmailRecipients'
          description: OK
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  '/accounts/{accountId}/store/orders/{orderNumber}':
    get:
      tags:
        - OnlineStore.Orders
      operationId: OnlineStoreOrders_GetByNumber
      parameters:
        - $ref: '#/parameters/accountId'
        - type: string
          name: orderNumber
          description: Order number
          required: true
          in: path
          x-nullable: false
      responses:
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/store/orders':
    get:
      tags:
        - OnlineStore.Orders
      operationId: OnlineStoreOrders_GetList
      parameters:
        - $ref: '#/parameters/accountId'
        - type: integer
          name: $skip
          description: >
            'Specifies the number of records to skip (not include in a result set). For example if you expect about 300 records in result set and want to get them in small portions, you could make do so with 3 calls:'
  
            - ...&$top=100 - will return records from 0 to 99
            - ...?$skip=100&top=100' - will return records from 100 to 199
            - ...?$skip=200' - will return records from 199 to the end
          in: query
          format: int32
          x-nullable: true
        - type: integer
          name: $top
          description: this parameter specifies the maximum number of entries to be returned
          in: query
          format: int32
          x-nullable: true
        - type: string
          name: status
          description: Order status
          in: query
          x-schema:
            $ref: '#/definitions/OrderStatus'
          x-nullable: true
        - type: string
          name: paymentStatus
          description: Invoice status
          in: query
          x-schema:
            $ref: '#/definitions/PaymentStatus'
          x-nullable: true
        - type: string
          name: From
          description: Start date of the range
          in: query
          format: date-time
          x-nullable: true
        - type: string
          name: To
          description: End of the range
          in: query
          format: date-time
          x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Order'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/store/orders/{orderNumber}/status':
    put:
      tags:
        - OnlineStore.Orders.Operations
      operationId: OnlineStoreOrdersOperations_SetOrderStatus
      consumes:
        - application/json
        - text/json
        - application/*+json
      parameters:
        - $ref: '#/parameters/accountId'
        - type: string
          name: orderNumber
          in: path
          required: true
        - name: status
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrderFulfilment'
          x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            $ref: '#/definitions/OrderSetStatusResult'
  '/accounts/{accountId}/store/products/{id}':
    get:
      tags:
        - OnlineStore.Products
      operationId: OnlineStoreProducts_GetById
      parameters:
        - $ref: '#/parameters/accountId'
        - type: integer
          name: id
          in: path
          required: true
          format: int32
          x-nullable: false
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            $ref: '#/definitions/Product'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/store/products':
    get:
      tags:
        - OnlineStore.Products
      operationId: OnlineStoreProducts_GetList
      consumes:
        - application/json
        - text/json
        - application/*+json
      parameters:
        - $ref: '#/parameters/accountId'
        - type: integer
          name: $skip
          in: query
          format: int32
          x-nullable: true
        - type: integer
          name: $top
          in: query
          format: int32
          x-nullable: true
      responses:
        '200':
          x-nullable: false
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        '400':
          $ref: '#/responses/badRequest'
        '401':
          $ref: '#/responses/unauthorized'
        '429':
          $ref: '#/responses/tooManyRequests'
  '/accounts/{accountId}/features/{featureId}':
    get:
      operationId: GetFeatureAvailability
      summary: Get information about feature availability for specific account.
  
      description: >
  
        There is no way to get full list of features, so api client should know feature identifier. For any invalid featureId API will return {"Allowed":true}.
  
        This method is reserved **_for internal use only_** and not expected to be used by third party client applications.
  
      parameters:
        - $ref: '#/parameters/accountId'
        - name: featureId
[...]
